<%- include("../partials/header") -%>
<h1>Website Scraper</h1>
<p id="test">put your url in here</p>
<form action="/scraping" id="url-form" name="myform" method="POST" onsubmit="urlSubmit(event)">
    <input type="url" name="myurl" id="url-input" placeholder="https://www.example.com"  size="30" required>
    <button type="submit">submit</button>
</form>

<%- include("../partials/footer") -%>
<script src="/public/js/main.js"></script>
